<header>
  <nav>
    <a href="/" class="logo">devsonLab</a>
    <ul>
      <li><a href="#home">Home</a></li>
      <li><a href="#about">Tentang Kami</a></li>
      <li><a href="#services">Layanan</a></li>
      <li><a href="#portfolio">Portfolio</a></li>
      <li><a href="#clients">Client</a></li>
      <li><a href="#contact">Kontak</a></li>
    </ul>
  </nav>
</header>
