<section id="services">
  <h2>Layanan Kami</h2>
  <div class="services">
    <div class="service-card">
      <h3>Web / Mobile Apps</h3>
      <p>
        Kami membangun aplikasi web atau mobile yang responsive, SEO-friendly, dan scalable dengan tujuan menyediakan solusi yang sesuai dengan kebutuhan bisnis
        Anda.
      </p>
    </div>
    <div class="service-card">
      <h3>Sistem Otomasi</h3>
      <p>Kami menyediakan layanan otomatisasi untuk mempercepat bisnis Anda dengan mengintegrasikan sistem otomatis ke dalam aplikasi.</p>
    </div>
    <div class="service-card">
      <h3>IT Consulting</h3>
      <p>Kami menyediakan consultasi teknis untuk mempercepat pengembangan dan mengoptimalkan infrastruktur IT Anda.</p>
    </div>
  </div>
</section>
